<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<section class="first-section slide-section">
    <div class="splide" id="trends">
        <div class="slide-section-text">
            <a class="slide-section-title" href="/">🏆 Popular</a>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <% data.trend.forEach((item) => { %>
                <div class="splide__slide" style="position: relative">
                    <a class="slide-brand-type" href="/<%=item.type[0]==="Serie"?"series":"movies"%>"><%=item.type[0].toUpperCase()%></a>
                    <a href="/anime/?name=<%=item.name%>">
                        <img src="<%=item.img%>" alt="Image" class="splide_slide_img" loading="lazy">
                        <p><%=item.name%></p>
                    </a>
                </div>

                <%})%>
            </ul>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const slider = new Splide('#trends', {
                    type: 'loop',
                    perPage: 5.5,
                    perMove: 1,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    responsive: true,
                    speed: 1000,
                    drag: true,
                    swipe: true,
                    touch: true,
                    keyboard: true,
                    rewind : true,
                    scrollbar: true,
                    scrollbarType: 'slide',
                    breakpoints: {
                        640: {
                            perPage: 1.6,

                        },
                        768: {
                            perPage: 2,

                        },
                        1024: {
                            perPage: 3,

                        },
                        1440: {
                            perPage: 5,

                        },
                    },
                }).mount();
            });
        </script>
    </div>
</section>

<section class="slide-section">

    <div class="splide" id="series">
        <div class="slide-section-text">
            <a class="slide-section-title" href="/series">🎬 Series</a>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <% data.series.forEach((item) => { %>
                <div class="splide__slide" style="position: relative">
                    <a class="slide-brand-type" href="/<%=item.type[0]==="Serie"?"series":"movies"%>"><%=item.type[0].toUpperCase()%></a>
                    <a href="/anime/?name=<%=item.name%>">
                        <img src="<%=item.img%>" alt="Image" class="splide_slide_img" loading="lazy">
                        <p><%=item.name%></p>
                    </a>
                </div>

                <%})%>
            </ul>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const slider = new Splide('#series', {
                    type: 'loop',
                    perPage: 5.5,
                    perMove: 1,
                    responsive: true,
                    speed: 1000,
                    drag: true,
                    swipe: true,
                    touch: true,
                    keyboard: true,
                    rewind : true,
                    scrollbar: true,
                    scrollbarType: 'slide',
                    breakpoints: {
                        640: {
                            perPage: 1.6,

                        },
                        768: {
                            perPage: 2,

                        },
                        1024: {
                            perPage: 3,

                        },
                        1440: {
                            perPage: 5,

                        },
                    },
                }).mount();
            });
        </script>
    </div>
</section>


<section class="slide-section">

    <div class="splide" id="movies">
        <div class="slide-section-text">
            <a class="slide-section-title" href="/movies">🍿 Movies</a>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <% data.movies.forEach((item) => { %>
                    <div class="splide__slide" style="position: relative">
                        <a class="slide-brand-type" href="/<%=item.type[0]==="Serie"?"series":"movies"%>"><%=item.type[0].toUpperCase()%></a>
                        <a href="/anime/?name=<%=item.name%>">
                            <img src="<%=item.img%>" alt="Image" class="splide_slide_img" loading="lazy">
                            <p><%=item.name%></p>
                        </a>
                    </div>

                <%})%>
            </ul>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const slider = new Splide('#movies', {
                    type: 'loop',
                    perPage: 5.5,
                    perMove: 1,
                    responsive: true,
                    speed: 1000,
                    drag: true,
                    swipe: true,
                    keyboard: true,
                    rewind : true,
                    scrollbar: true,
                    scrollbarType: 'slide',
                    breakpoints: {
                        550: {
                            perPage: 1.6,

                        },
                        768: {
                            perPage: 2.2,

                        },
                        1130: {
                            perPage: 3.2,

                        },
                        1440: {
                            perPage: 5.2,

                        },
                    },
                }).mount();
            });
        </script>
    </div>
</section>

<%- include('partials/footer') -%>

<style>

    a {
        color: #C8472C !important;
    }

    .first-section {
        margin-top: 5rem !important;
    }

    .slide-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slide-section-text {
        width: 100%;
        margin-bottom: 1rem !important;
    }

    .slide-section-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #4A4A4A !important;
    }

    .splide {
        width: 1200px !important;
        margin-bottom: 5rem;

    }
    .splide_slide_img {
        height: 300px;
        width: 200px;
        border-radius: 10px;
    }

    .splide__slide {
        transition: all 0.3s ease-in-out;
        border-radius: 10px !important;
        position: relative;
        color: #C8472C !important;
        display: flex;
        flex-direction: column;
    }

    .splide__list {
        border-radius: 10px !important;
    }

    .splide__slide:hover {
        opacity: 90%;
    }

    .splide__slide:hover {
        color: #326bac !important;
    }

    .slide-brand-type {
        position: absolute;
        top: 10px;
        right: calc(50% - 80px);
        z-index: 99;
        color: #ffffff !important;
        background-color: rgba(0, 0, 0, 0.69);
        border-radius: 5px;
        font-size: 12px;
        padding: 2px 5px;
    }

    .splide__arrow--prev {
        left: -3rem !important;
    }
    .splide__arrow--next {
        right: -3rem !important;
    }

    .splide__pagination {
        bottom: inherit !important;
    }

    @media screen and (max-width: 1330px) {
        .splide {
            width: 100% !important;
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 1130px) {
        .slide-brand-type {
            left: 20px;
            right: auto;
        }
    }
</style>
